params{
    // general parameters

     input                    = "${baseDir}/../input_vcf/input_vcf_map.csv"

    //decription of "input" --> In case of vcf, the input should be ".csv" with first column as chromosome id, second column as path to the vcf file and third column, path to its respective index (for example, see: example/input_vcf.csv). In case of plink,  the input should be directly the path to the ".bed" file with its extension, "*.{bim,bed,fam}".Note that there should ONLY be ONE SET OF PLINK binary files in the specified path/folder, i.e. "--input *.{bed,bim,fam}"

    outDir                    = "${baseDir}/../example_vcf_out/" 

    // description of "outDir" --> Path to the directory, where all the outputs will be stored. If the directory is not present, it will be created. 

    sample_map                = "${baseDir}/../input_vcf/sample_map.map"

    // description of "sample_map" --> Path to the sample map file (for example, see: example/sample_pop.map), format: first column as sample id and second column as population id.This is a REQUIRED argument only if the input is vcf that is ".csv". Note that this file must end with the suffix ".map".

    concat_chrom_file_prefix  = "scalepopgen"

    // description of "concat_chrom_prefix" --> File prefix to be set after concating vcf file chromosome-wise

   indiv_summary              = false

    // description of "indiv_summary" --> calculate sample-based summary statistics from vcf files, only after applying individual and sites based filtering

    geo_plot_yml              = "${baseDir}/parameters/plots/plot_sample_on_map.yml"

    // description of "geo_plot_yml" --> Path to the yaml file containing parameters for plotting the samples on a map (for example, see: parameters/plot_on_map/plot_sample_on_map.yaml). Refer to doc/plot_map.md for description of this yaml file

    tile_yml                  = "${baseDir}/parameters/plots/tiles_info.yml"

    //description of "tile_yml" --> Path to the yaml file containing parameters for the geographical map to be used for plotting (for example, see: parameters/plot_on_map/tiles_info.yaml). Refer to doc/plot_map.md for description of this yaml file

    f_pop_cord                = "none"

    //description of "f_pop_cord " --> Path to the file containing population name as first column and its latitude, longitude as second column (for example, see: parameters/plot_on_map/f_pop_cord.txt"

    f_pop_color                = "none"

    //description of "f_pop_color " --> Path to the file containing population name as first column and color in hex codes as second column (for example, see: parameters/plot_on_map/f_pop_color.txt". If not provided, random colors will be chosen to represent each population. 

    fasta                     = "none" 

    //description of "fasta" --> If the inputs are plink binary files, fasta file is needed to set the reference allele in the converted vcf files. If not provided, the major allele will be set as the reference allele for all positions for all analyses

    chrm_map                  = "/home/nehal/Documents/scalepopgen/zebu_data/chrom_length.map"

    //description of "chrm_map" --> If the inputs are plink binary files, map file is needed to set the chromosome id and its respective size in the vcf header (for example, see: examples/chrm_size.map). If not provided, the greatest coordinate for each chromosome will be considered its total size.

    allow_extra_chrom         = true

   //description of "allow_extra_chrom" --> set this argument to "true" if the chromosome id contains string, default: false

    max_chrom                 = 29 

   //description of "max_chrom" --> maximum chromosomes (including sex chromosomes) to be considered for the analyses. 

    outgroup                  = "none"

   //description of "outgroup" --> The population id to be used as an outgroup, this will be used in the following analyses:
   //                          1). treemix --> as a root in ML phylogenetic tree
   //                          2). Fst-based NJ clustering --> as a root 
   //                          3). selection analysis --> to determine the ancestral and derived alleles
   //                          For more details, read the online documentation
   
   cm_to_bp                   = 1000000 

   //description of "cm_to_bp" --> Specify how many bp should be considered as 1 cm. To be used only, when recombination files are not provided, default: 1000000

}
