params{

    genetic_structure = true

    //description of "genetic_structure" --> setting this to "false" will skip processing this entire module, meaning all the following options will be disabled. Default: true

    run_smartpca = true

    //description of "run_gds_pca" -->  run PCA using the method implemented in smartpca tool of eigensoft. Default: false

    run_gds_pca = true

    //description of "run_gds_pca" --> run PCA using the method implemented in snprelate package of R. Default: true

    ld_filt = true

    //description of "ld_filt" --> whether or not to apply ld-based pruning of the dataset before running PCA or/and admixture analysis. Default: true.

    ld_window_size = 50 

    //description of "ld_window_size" --> window size for LD calculation (as implemented in plink). Default: 50

    ld_step_size = 10 

    //description of "ld_step_size" --> step size for LD calculation (as implemented in plink). Default: 10

    r2_value = 0.05

   //description of "r2_value" -->  r2 value of a SNP pair above which one of the SNPs will be discarded. Default: 0.05

    structure_remove_indi = "none"

   //description of "structure_remove_indi" -->  path to the file containing list of individuals to be removed before running PCA and/or admixture. Note that this file should contain two columns: first column as population_id and second column as sample id to be removed. Default: "none".

    smartpca_param = "none"

   //description of "smartpca_param" --> path to the file containing additional/optional parameters to apply to smartpca. To see the list of these parameters:https://github.com/chrchang/eigensoft/blob/master/POPGEN/README. Note that these six parameters file are already set internally by scalepopgen:"genotypename","snpname","indivname","evecoutname","evaloutname" and "numchrom". Default: "none"

    pop_color_file = "none" 

    //description of "pop_color_file" --> path to the file containing color codes of each population to be plotted. This file should contain data in two columns: first column as pop_id and second column as color name of code. If no such file is provided, random colors will be chosen. Default: "none"

    f_pop_marker = "none" 

    //description of "f_pop_marker" --> path to the file containing first column as population id and second column as marker shape. Available markers shape are listed in "./extra/markershapes.txt" . If no such file is provided, random marker shapes will be selected.

    pca_plot_params = "${baseDir}/parameters/interactive_pca_plot/pca_params.yml" 

    //description of "pca_plot_params" --> path to the yaml file containing the paramterers to plot interactive PCA results. Refer to  "./parameters/interactive_pca_plot/pca_params.yml

    admixture = false

    //description of "admixture" --> whether to run admixture analysis. Default: false

    starting_k_value = 1

    //description of "starting_k_value" -->  starting range of "k" value to run admixture analysis. Default: 1

    ending_k_value = 40 

    //description of "ending_k_value" --> ending range of "k" value to run admixture analysis. Default: 40

    cross_validation = 5 
    
    //description of "cross_validation" --> cross validation to be run on the results of each "k" value of admixture. Default: 5

    termination_criteria = 0.0001 

    //description of "termination_criteria" --> termination criteria of admixture tool. Default: 0.0001

    pop_labels = "none" 

    //any additional pop label to be plotted along with provided pop label in admixture results to be plotted. This file should contain data in two columns: first column as additional_pop_id and second column as pop_id, mentioned in the ".map" (in case of vcf input) or ".fam" (in case of plink binary input) file.  Default: "none"
	
    fst_based_nj_tree = true

    //whether or not to estimate NJ tree based on average pairwise fst distance between each pair of populations.

}
