params{
    // general parameters

    input                     = ""
    outDir                    = "${baseDir}/../zebu_remove_crossbred_selection_results/"
    prefix                    = "101_samples"
    sample_map                = "${baseDir}/sample_pop.map"
    fasta                     = "${baseDir}/../inputs/genome.fa"
    chrm_map                  = "none"
    allow_extra_chrom         = false //set to true if the file contains chromosome name in the form of string
    max_chrom                 = 29 // maximum chromosomes to be allowed
    outgroup                  = "00YAK"
    cm_to_bp                   = 1000000

    //sample filtering parameters

    apply_indi_filters        = true // setting this to false overrides all other sample-filtering parameters
    king_cutoff               = 0 // pair with relationship coefficient greater than this will be considered related, 0 --> do not estimate the coeff
    rem_indi                  = "${baseDir}/../inputs/all_crossbred.txt" // replace this with the file name containing individuals to be removed
    mind                      = 0.009 // samples with missing genotypes greater than this will be removed

    // sites filtering parameters
    
    apply_snp_filters         = true // setting this to false overrides all other sites-filtering parameters 
    remove_snps               = "none" // replace this with the file name containing the SNPs to be removed
    maf                       = 0 // sites with minor allele frequencies less than this will be filtered
    min_meanDP                = 0 //sites with average depth (across the samples) less than this will be filtered out
    max_meanDP                = 0 // sites with average depth (across the samples) greater than this will be filtered out 
    hwe                       = 0 // sites with p-value (hwe) less than this will be filtered out 
    max_missing               = 0.05 // sites with genotypes missing more than this proportion of samples will be filtered out
    minQ                      = 0 // sites with base quality less than this will be filtered out
    

    //ld filter for PCA and ADMIXTURE analysis
    run_smartpca              = false
    run_gds_pca               = false
    ld_filt                   = false
    ld_window_size            = 50
    step_size                 = 10
    r2_value                  = 0.1
    
    structure_remove_indi     = "${baseDir}/../inputs/pca_admixture_remove_sample.map"
    smartpca_param            = "none"
    pop_color_file            = "none"
    
    //admixture analysis parameters

    admixture                 = false
    starting_k_value          = 2
    ending_k_value            = 30
    method                    = "block"
    cross_validation          = 5
    termination_criteria      = 0.0001
    best_kval_method          = "global"
    pop_labels                = "none"
 
    //treemix analysis parameters

    treemix                   = false
    n_bootstrap               = 100
    upper_limit               = 600
    starting_m_value          = 1
    ending_m_value            = 15
    n_iter                    = 3
    k_snps                    = 500


   // sig selection unphased data 

   sig_sel                    = true
   tajima_d                   = true
   pi                         = false
   pairwise_fst               = false
   clr                        = false
   ihs                        = false
   nsl                        = false //not implemented yet
   xpehh                      = false
   skip_chrmwise              = true
   skip_phasing               = true
   skip_pop                   = "${baseDir}/../inputs/sel_rem_pop_ids.map"
   min_samples_per_pop        = 6
   sel_window_size            = 0
   tajimasd_window_size       = 50000
   fst_window_size            = 0
   fst_step_size              = 0
   pi_window_size             = 0
   pi_step_size               = 0
   anc_files                  = "none"
   grid_space                 = 50000 //option "g", user-defined space between grid-points
   grid_points                = 0 //option "G", user-defined number of equally spaced points to be tested
   use_precomputed_afs        = true //enable "-l" option
   use_recomb_map             = "default" // enable "-lr" option of sweepfinder2, other options: "default" or "none"
   selscan_map                = "none" // other option, csv file containing two column --> chrom,map_file
   ihs_params                 = "none"
   xpehh_params               = "none"
   

    //begale phasing parameters
    ref_vcf                   = "none"
    cm_map                    = "none"
    burnin_val                = 3
    iterations_val            = 3
    impute_status             = false
    ne_val                    = 1000000


    //fstats analysis parameters

    skip_dStats               = false
    jkBlock                   = 100
    skip_threePop             = false
    popCombFile               = "none"
}
