params{
    // general parameters

   // sig selection unphased data 

   sig_sel                    = false
   tajima_d                   = false
   pi                         = false
   pairwise_fst               = true
   fst_nj_tree                = true
   single_vs_all_fst          = false
   skip_chrmwise              = true
   skip_phasing               = false
   skip_pop                   = "none"
   skip_sel_outgroup          = true
   min_samples_per_pop        = 2
   sel_window_size            = 50000
   tajimasd_window_size       = 50000
   fst_window_size            = 50000
   fst_step_size              = 50000
   pi_window_size             = 50000
   pi_step_size               = 50000
   
   //sweepfinder2 parameters

   clr                        = false
   anc_files                  = "create" //option--> "create","none","csv file containing the path to anc files"
   grid_space                 = 50000 //option "g", user-defined space between grid-points
   grid_points                = 0 //option "G", user-defined number of equally spaced points to be tested
   use_precomputed_afs        = true //enable "-l" option
   use_recomb_map             = "default" // enable "-lr" option of sweepfinder2, other options: "default" or "none" or "path"

   //selscan parameters

   ihs                        = false
   nsl                        = false //not implemented yet
   xpehh                      = false
   selscan_map                = "none" // other option, csv file containing two column --> chrom,map_file
   ihs_args                   = "none"
   xpehh_args                 = "none"
   

    //begale phasing parameters
    ref_vcf                   = "none"
    cm_map                    = "none"
    burnin_val                = 3
    iterations_val            = 3
    impute_status             = false
    ne_val                    = 1000000

}
