params{
    // general parameters

     input                    = "${baseDir}/test_files/test_input_vcf.csv"

    //decription of "input" --> In case of vcf, the input should be ".csv" with first column as chromosome id, second column as path to the vcf file and third column, path to its respective index (for example, see: example/input_vcf.csv). In case of plink,  the input should be directly the path to the ".bed" file with its extension, "*.{bim,bed,fam}".Note that there should ONLY be ONE SET OF PLINK binary files in the specified path/folder, i.e. "--input *.{bed,bim,fam}"

    outDir                    = "${baseDir}/../test_genstruct_out/" 

    // description of "outDir" --> Path to the directory, where all the outputs will be stored. If the directory is not present, it will be created. 

    sample_map                = "${baseDir}/test_files/sample.map"

    // description of "sample_map" --> Path to the sample map file (for example, see: example/sample_pop.map), format: first column as sample id and second column as population id.This is a REQUIRED argument only if the input is vcf that is ".csv". Note that this file must end with the suffix ".map".

    concate_vcf_prefix  = "test_genetic_struct"

    // description of "concat_vcf_prefix" --> File prefix to be set after concating vcf file chromosome-wise

    geo_plot_yml              = "${baseDir}/parameters/plots/plot_sample_on_map.yml"

    // description of "geo_plot_yml" --> Path to the yaml file containing parameters for plotting the samples on a map (for example, see: parameters/plot_on_map/plot_sample_on_map.yaml). Refer to doc/plot_map.md for description of this yaml file

    tile_yml                  = "${baseDir}/parameters/plots/tiles_info.yml"

    //description of "tile_yml" --> Path to the yaml file containing parameters for the geographical map to be used for plotting (for example, see: parameters/plot_on_map/tiles_info.yaml). Refer to doc/plot_map.md for description of this yaml file

    f_pop_cord                = "${baseDir}/test_files/geo_data.txt"

    //description of "f_pop_cord " --> Path to the file containing population name as first column and its latitude, longitude as second column (for example, see: parameters/plot_on_map/f_pop_cord.txt"

    f_pop_color                = "none"

    //description of "f_pop_color " --> Path to the file containing population name as first column and color in hex codes as second column (for example, see: parameters/plot_on_map/f_pop_color.txt". If not provided, random colors will be chosen to represent each population. 

    fasta                     = "none" 

    //description of "fasta" --> If the inputs are plink binary files, fasta file is needed to set the reference allele in the converted vcf files. If not provided, the major allele will be set as the reference allele for all positions for all analyses


    allow_extra_chrom         = true

   //description of "allow_extra_chrom" --> set this argument to "true" if the chromosome id contains string, default: false

    max_chrom                 = 29 

   //description of "max_chrom" --> maximum chromosomes (including sex chromosomes) to be considered for the analyses. 

    outgroup                  = "none"

   //description of "outgroup" --> The population id to be used as an outgroup, this will be used in the following analyses:
   //                          1). treemix --> as a root in ML phylogenetic tree
   //                          2). Fst-based NJ clustering --> as a root 
   //                          3). selection analysis --> to determine the ancestral and derived alleles
   //                          For more details, read the online documentation
   
   cm_to_bp                   = 1000000 

   //description of "cm_to_bp" --> Specify how many bp should be considered as 1 cm. To be used only, when recombination files are not provided, default: 1000000


    apply_indi_filters = true 

    //description of "apply_snp_filters" --> Whether or not to perform sample filtering. Note that setting this to false overrides all parameters associated with sample filtering. In other words, sample filtering will not be carried out irrespective of arguments set for --king_cutoff, --rem_indi or --mind. Default: true

    king_cutoff = 0

    //description of "king_cutoff" --> King relationship coefficient value above which the pairs of individuals are considered to be related and based on these pairwise values, plink2 will output the unrelated samples. Setting this to any negative value will skip this parameter. Default: 0.08.

    rem_indi = "${baseDir}/examples/samples_remove.txt"

    //description of "rem_indi" --> path to the file containing the list of custom individuals to be removed from all analyses. Note that in case of vcf file, this file should only consist of one column of individual id. In the case of plink generated binary files, this file consists of two columns, first column as corresponding population id and second column as individual id. Setting this to "none" will disable this flag. Default:"none"
 
    mind = 0 

    //description of "mind" --> samples with missing genotypes greater than this will be removed. Setting this to any negative value will disable this parameter. Default: 0.10. 

   indiv_summary              = false

    // description of "indiv_summary" --> calculate sample-based summary statistics from vcf files, only after applying individual and sites based filtering

    // sites-filtering parameters
    
   apply_snp_filters = true

    //description of "apply_snp_filters" -->  setting this to false overrides all other sites-filtering parameters, i.e. sites-filtering will not be carried out irrespective of any parameters set for --remove_snps,  --maf, --min_meanDP, --max_meanDP, --hwe, --max_missing and --minQ. Note that, depending on the input files, these parameters may or may not be applied. For example, depth-related information and SNP quality information are not available (of course) for plink bed files and therefore, these parameters will be ignored in that case. However, parameters like max_missing, hwe and maf are applied to vcf as well as to plink-bed files. Default: true

    remove_snps = "none" 

    //description of "remove_snps" --> path to the file containing SNP ids to be removed in case of plink-bed files. In case of vcf file, this file should contain two columns: first column as chromsome_id and second column as positions to be removed. Setting this to "none" will disable this flag. Default: "none"

    maf = 0.01 

    //description of "maf" --> sites with minor allele frequencies less than this will be filtered, if set to any value < 0, this filter will be ignored. Default: 0.01

    min_meanDP = -9

    //description of "min_meanDP" --> sites with average depth (across the samples) less than this will be filtered out, set to any value < 0, this filter will be ignored. Default: -9

    max_meanDP = -9

    //description of "max_meanDP" --> sites with average depth (across the samples) greater than this will be filtered out, set to any value < 0, this filter will be ignored. Default: -9

    hwe = -9 

    //description of "hwe" --> sites with p-value (hwe) less than this will be filtered out, set to any value < 0, this filter will be ignored. Default: -9

    max_missing = -9 

    //description of "max_missing" --> sites with genotypes missing more than this proportion of samples will be filtered out, set to any value < 0, this filter will be ignored. Default: -9

    genetic_structure = true

    //description of "genetic_structure" --> setting this to "false" will skip processing this entire module, meaning all the following options will be disabled. Default: true

    run_smartpca = true

    //description of "run_gds_pca" -->  run PCA using the method implemented in smartpca tool of eigensoft. Default: false

    run_gds_pca = true

    //description of "run_gds_pca" --> run PCA using the method implemented in snprelate package of R. Default: true

    ld_filt = true

    //description of "ld_filt" --> whether or not to apply ld-based pruning of the dataset before running PCA or/and admixture analysis. Default: true.

    ld_window_size = 50 

    //description of "ld_window_size" --> window size for LD calculation (as implemented in plink). Default: 50

    ld_step_size = 10 

    //description of "ld_step_size" --> step size for LD calculation (as implemented in plink). Default: 10

    r2_value = 0.01

   //description of "r2_value" -->  r2 value of a SNP pair above which one of the SNPs will be discarded. Default: 0.05

    structure_remove_indi = "none"

   //description of "structure_remove_indi" -->  path to the file containing list of individuals to be removed before running PCA and/or admixture. Note that this file should contain two columns: first column as population_id and second column as sample id to be removed. Default: "none".

    smartpca_param = "none"

   //description of "smartpca_param" --> path to the file containing additional/optional parameters to apply to smartpca. To see the list of these parameters:https://github.com/chrchang/eigensoft/blob/master/POPGEN/README. Note that these six parameters file are already set internally by scalepopgen:"genotypename","snpname","indivname","evecoutname","evaloutname" and "numchrom". Default: "none"

    pop_color_file = "none" 

    //description of "pop_color_file" --> path to the file containing color codes of each population to be plotted. This file should contain data in two columns: first column as pop_id and second column as color name of code. If no such file is provided, random colors will be chosen. Default: "none"

    f_pop_marker = "none" 

    //description of "f_pop_marker" --> path to the file containing first column as population id and second column as marker shape. Available markers shape are listed in "./extra/markershapes.txt" . If no such file is provided, random marker shapes will be selected.

    pca_plot_params = "${baseDir}/parameters/plots/pca.yml" 

    //description of "pca_plot_params" --> path to the yaml file containing the paramterers to plot interactive PCA results. Refer to  "./parameters/interactive_pca_plot/pca_params.yml

    admixture = true

    //description of "admixture" --> whether to run admixture analysis. Default: false

    starting_k_value = 1

    //description of "starting_k_value" -->  starting range of "k" value to run admixture analysis. Default: 1

    ending_k_value = 10

    //description of "ending_k_value" --> ending range of "k" value to run admixture analysis. Default: 40

    cross_validation = 5 
    
    //description of "cross_validation" --> cross validation to be run on the results of each "k" value of admixture. Default: 5

    termination_criteria = 0.0001 

    //description of "termination_criteria" --> termination criteria of admixture tool. Default: 0.0001

    pop_labels = "none" 

    //any additional pop label to be plotted along with provided pop label in admixture results to be plotted. This file should contain data in two columns: first column as additional_pop_id and second column as pop_id, mentioned in the ".map" (in case of vcf input) or ".fam" (in case of plink binary input) file.  Default: "none"
	
    fst_based_nj_tree = true

    //whether or not to estimate NJ tree based on average pairwise fst distance between each pair of populations.

    nj_yml = "${baseDir}/parameters/plots/fst_nj.yml"

    //path to the yaml file containing parameters of plotting interactive NJ tree. Refers to "./parametes/plots/fst_nj.yml"

   est_1_min_ibs_based_nj_tree = true

   // whether or not to estimate NJ tree based on 1-ibs distance between each pair of samples in the dataset.

   ibs_nj_yml = "${baseDir}/parameters/plots/ibs_nj.yml"

   //path to the yaml file containing the parameters of plotting interactive NJ tree. Refers to "./parameters/plots/ibs_nj.yml"

   treemix                   = false

   sig_sel                    = false
}
